<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/payment.css">
        <title>Payment Page</title>
</head>

<body>
    <%- include('../partials/header'); %>

        <div class="main">

            <div class="ucart">
                <h1>Cart</h1>
                <% prodlist.forEach(function(product) { var link="/product?id=" + product['id']; var image="/images/" +
                    product['name'] + ".jpg" ; var label=product['label']; var price="$" + product['price']; %>
                    <div class="uproduct">
                        <a href="<%=link %>" class="product">
                            <img src="<%=image %>" alt="<%=product['name'] %>" style="width:200px;height:auto;">
                            <div>
                                <%=label %>
                            </div><br>
                            <div>
                                <%=price %>
                            </div>
                        </a>
                    </div>
                    <% }); %>
            </div>
            <div class="payment">
                <h1>Payment Info</h1>
                <form action="/" metohd="post">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="ccnum">Credit card number:</label><br>
                    <input type="text" id="ccnum" name="ccnum"><br>
                    <label for="cvc">CVC code:</label><br>
                    <input type="text" id="cvc" name="cvc"><br>
                    <label for="zip">ZIP code:</label><br>
                    <input type="text" id="zip" name="zip"><br>
                    <button type="submit">Pay</button>
                </form>
            </div>
        </div>

        <%- include('../partials/footer'); %>

</body>

</html>